.record 
{
	height: 400px;
	width: 600px;
	border-collapse: collapse;
}
.record td
{
	border : 1px solid black;
	padding: 3px;
}
.record thead
{
	text-align: center;
	font-weight: bold;	
	background-color: lightgreen;
}

.record tbody td:nth-child(1)
{
	background-color: lightblue;
	font-weight: bold;
}
.record tbody td:nth-child(3)
{
	background-color: lightpink;
}
.record tbody td:nth-child(4)
{
	background-color: yellow;
}


.rspan td {
  border-bottom: 1px solid transparent;
}
ul
{
	text-align: left;
	padding: 15px;
}

tbody .rspan td:first-child {
  border-bottom: 1px solid black;
}

.rspan td {
  border-top: 1px solid white;
}

tbody .bottom td:nth-child(1) {
  background-color: lightyellow;
  font-weight: normal;
}

tbody .bottom td:nth-child(2) {
  background-color: lightpink;
}

tbody .bottom td:nth-child(3) {
  background-color: yellow;
}
